@model IEnumerable<Moment3CdCollection.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Användare</h1>

<p>
    <a asp-action="Create">Lägg till ny användare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
