@model Moment3CdCollection.Models.Loan

@{
    ViewData["Title"] = "Låna CD";
}

<h1>Nytt lån</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Användare</label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CdId" class="control-label">CD</label>
                <select asp-for="CdId" class ="form-control" asp-items="ViewBag.CdId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Låna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till alla lån</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
